:root {
  --primary-color: #7a5bba; /* Light purple */
  --secondary-color: #4e2d91; /* Medium purple */
  --accent-color: #2c0c57; /* Dark purple */
  --text-color: #000000; /* Soft white for text */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  background: linear-gradient(to bottom, var(--secondary-color), var(--accent-color));
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(122, 91, 186, 0.5); /* Light purple shadow */
  transition: transform 0.3s ease-in-out;
  animation: fadeInUpwards ease-out both;
  animation-duration: 1s;
  background-color: var(--primary-color);
  text-align: center;
  max-width: 800px;
  width: 100%;
}

h1 {
  font-size: 4em;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

p,
li {
  color: var(--text-color);
  line-height: 1.6;
}

ul {
  list-style-type:none; /* Remove bullet points */
}

li::before {
  content:"•"; 
  color:#b99de6; /* Light purple bullet point */
}

a {
  color: #b99de6; /* Light purple link color */
}

a:hover {
  color: #9d83d0; /* Darker light purple hover */
}